body{
    font-size: 40px;
}
p {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 0, 0);
    font-size: 70px;
    margin: au;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: rgb(128, 0, 28);
    font-size: 60px;
}
div {
    width: 70%;
    margin: auto;
    color: tomato;
    margin: auto;
}
.M{
    color:aqua;
    font-size: 30px;
}
.A{
    color:  blue;
    font-size: 50px;
}
.R{
    color: crimson;
    font-size: 10px;
}
.A{
    color: darkgreen;
    font-size: 40px;
}
.T{
    color: darkmagenta;
    font-size: 20px;
}
     
 a{
    text-decoration: none;
    font-size: 20px;
    color: tomato;
}
img{
    max-width: 90%;
    height: auto;
    display: block;
}
div{
    width: 100%;
    margin: auto;
    padding: 50px;
    background-color: rgb(21, 85, 32);
}